<div class="home-midl">
    <h3 class="home-midl__title"> ALLOW ME TO <span style="color: #ff8f83 ">INTRODUCE</span> MYSELF</h3>
    <p class="home-midl__me">My name is <span style="color: #ff8f83 ">Dima Semehuk.</span>
      I'm a 15-year-old frontend developer from Ukraine with a passion for programming since the age of 11.
      From the very beginning, I fell in love with the world of coding.
      I specialize in<span style="color: #ff8f83 "> JavaScript</span>,<span style="color: #ff8f83 "> TypeScript</span> and <span style="color: #ff8f83 "> Angular</span> ,
      and I take pride in crafting beautiful and interactive user interfaces for websites and applications.
      My goal is to create innovative and impactful products that make a difference.
      Feel free to explore my portfolio below and get a glimpse of my work.
      I'm always open to feedback and excited to collaborate on exciting new projects.
      Let's connect and create something amazing together</p>
 </div>
<img src="" alt="">
