<div class="about-top" style="color: whitesmoke">
    <app-container>
      <div class="about-top__wrapper">
          <div class="about-top__text">
            <h3 class="about-top__title">ABOUT  <span style="color: #ff8f83">ME</span></h3>
            <p style="margin-bottom: 15px">As you already know, I am <span style="color: #ff8f83">Dmytro Semehuk</span>. I am from Ohtyrka. I am passionate about web development and computer engineering. The dynamic nature of web technologies has always fascinated me, and I enjoy creating interactive and user-friendly websites that provide valuable experiences.</p>
            <p>Looking ahead, my ambitions are set on progressing towards system architecture. I am drawn to the intricate design and optimization challenges that come with building robust and scalable systems. The idea of creating a solid foundation upon which complex applications can thrive is truly captivating to me.</p>
          </div>
          <div class="about-top__img">
            <img ngSrc="assets/img/about.png" alt="about" width="1194" height="1155">
          </div>
        </div>
    </app-container>
</div>
