<footer class="footer">
  <app-container>
    <div class="footer__wrapper">
      <ul class="footer__links">
        <li>
          <a class="footer__link" href="https://www.instagram.com/dimasemeguk/">
            <img ngSrc="assets/social-icons/instagram.svg" alt="instagram" height="24" width="24">
          </a>
        </li>
        <li>
          <a class="footer__link" href="https://github.com/dimasemehuk7">
            <img ngSrc="assets/social-icons/git.svg" alt="git" height="24" width="24">
          </a>
        </li>
        <li>
          <a class="footer__link" href="https://www.linkedin.com/in/dmyto-semehuk-09b666224/">
            <img ngSrc="assets/social-icons/linkedin.svg" alt="linkedin" height="24" width="24">
          </a>
        </li>
      </ul>
      <div class="footer__text">
        <p>Designed and Developed by <span style="color: #ff8f83">Dmytro Semehuk</span></p>
      </div>
    </div>
  </app-container>
</footer>
