<div class="home-top">
    <div class="home-top__text">
      <p class="home-top__hello">Hello! My name is</p>
      <span>
      <h3 class="home-top__name">Dima Semehuk. I'm</h3>
      <h3 class="home-top__job">Frontend Developer</h3>
    </span>

      <p class="home-top__description">My ultimate aim is to create innovative and impactful products that leave a lasting impression. I invite you to explore my portfolio below and see some of the projects I've worked on. Your feedback is always appreciated, and I'm thrilled to collaborate on exciting new ventures. Let's connect and together, we can create something truly amazing!</p>
    </div>
    <div class="home-top__img-block">
      <img ngSrc="./assets/img/dimon4ik.jpg" alt="me" height="721" width="721">
    </div>
  </div>
  <app-contact-btn class="home-top__btn" (click)="redirectToSocialMedia()"></app-contact-btn>

